@{
    ViewBag.Title = "About";
    }

<!DOCTYPE html>
<html>
<head>
    <title>

    </title>
</head>
<body style="background-image: url(t.jpg)">
    <div class="container">
        <div class="row">

            <div class="col-sm-6 pull-left" style="margin-bottom:1em;margin-left:4em">
                <p style="font-family: Nyala;font-size:50px ;padding-top: 1em"> About US!</p>
                <p style="color: #06b992">
                    ---------------------------------------------------------------------------------------------------------------
                </p>
                <p style="font-family: Nyala; font-size:30px">
                    This is my website that based on crowd sourcing technique it helps you to
                    resolve any problem that you are having in your mind what you have to do
                    is post the question on our website and you will get the answers from
                    your peers by using our website.And u can solve your problem in seconds.

                </p>
                <p style="font-family: Nyala;font-size:50px ;padding-top: 1em">Our Purrpose!</p>
                <p style="color: #06b992">
                    ---------------------------------------------------------------------------------------------------------------
                </p>
                <p style="font-family: Nyala;font-size:20px ;padding-top: 1em">
                    Ask me is a programming Q & A site that's free. Free to ask questions,
                    free to answer questions, free to read, free to index, build with bootstrap,
                    and its purpose is facilitate to students who have problem in something and they want help
                    And it is fast source of help .Very, very fast.

                </p>
            </div>
            <div class="col-sm-5 pull-right" style="margin-bottom:1em; margin-top:7em">
                <img src="~/Content/themes/base/images/v.jpg" width="350" height="350" />

            </div>
        </div>

    </div>
</body>
</html>


