@{
    ViewBag.Title = "catagory_question";
}

<!DOCTYPE>
<html>
<head>
    <title></title>
</head>
<body>
    <div class="container">
        <div class="col-sm-6 pull-left" style="margin-top:2em;margin-right:4em">
            <div class="tab-inner">
                <article class="question question-type-normal" style=" font-family:imprint mt shadow; color:#870aac; font-size:15px">
                    <h2 style=" font-family:imprint mt shadow; color:#870aac; font-size:30px">
                        Question
                    </h2>

                    <a class="question-report pull-right" href="#">Report</a>
                    <div class="question-inner">
                        <div class="clearfix"></div>
                        <pre> <p class="question-desc" style=" font-family: imprint mt shadow; color :#870aac; font-size: 15px">What is the Difference between Linux and Windows Hosting?.</p></pre>
                        <div class="question-details">
                            <span class="question-answered question-answered-done"><i class="icon-ok"></i>solved</span>
                            <span class="question-favorite"><i class="icon-star"></i>5</span>
                        </div>
                        <span class="question-date"><i class="icon-time"></i>4 mins ago</span>
                        <span class="question-comment"><a href="~/Home/Answer"><i class="icon-comment"></i>5 Answer</a></span>

                        <div class="clearfix"></div>
                    </div>
                </article>

                
                <div class="tab-inner">
                    <article class="question question-type-normal" style=" font-family:imprint mt shadow; color:#870aac; font-size:15px">
                        <h2 style=" font-family:imprint mt shadow; color:#870aac; font-size:30px">
                            Question
                        </h2>

                        <a class="question-report pull-right" href="#">Report</a>
                        <div class="question-inner">
                            <div class="clearfix"></div>
                            <pre> <p class="question-desc" style=" font-family: imprint mt shadow; color :#870aac; font-size: 15px">What is the Difference between Linux and Windows Hosting?.</p></pre>
                            <div class="question-details">
                                <span class="question-answered question-answered-done"><i class="icon-ok"></i>solved</span>
                                <span class="question-favorite"><i class="icon-star"></i>5</span>
                            </div>
                            <span class="question-date"><i class="icon-time"></i>4 mins ago</span>
                            <span class="question-comment"><a href="~/Home/Answer"><i class="icon-comment"></i>5 Answer</a></span>

                            <div class="clearfix"></div>
                        </div>
                    </article>
                    <div class="tab-inner">
                        <article class="question question-type-normal" style=" font-family:imprint mt shadow; color:#870aac; font-size:15px">
                            <h2 style=" font-family:imprint mt shadow; color:#870aac; font-size:30px">
                                Question
                            </h2>

                            <a class="question-report pull-right" href="#">Report</a>
                            <div class="question-inner">
                                <div class="clearfix"></div>
                                <pre> <p class="question-desc" style=" font-family: imprint mt shadow; color :#870aac; font-size: 15px">How to clean disk.</p></pre>
                                <div class="question-details">
                                    <span class="question-answered question-answered-done"><i class="icon-ok"></i>solved</span>
                                    <span class="question-favorite"><i class="icon-star"></i>5</span>
                                </div>
                                <span class="question-date"><i class="icon-time"></i>4 mins ago</span>
                                <span class="question-comment"><a href="~/Home/Answer"><i class="icon-comment"></i>5 Answer</a></span>

                                <div class="clearfix"></div>
                            </div>
                        </article>


                    </div>
            </div>
        </div>
    </div>
        </div>
   
</body>
</html>
